[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
    ignore = dirty
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
    ignore = dirty
[submodule "bundle/timestamp"]
	path = bundle/timestamp
	url = https://github.com/vim-scripts/timestamp.vim.git
    ignore = dirty
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = https://github.com/vim-scripts/ShowMarks.git
    ignore = dirty
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/color-distinguished"]
	path = bundle/color-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/color-hemisu"]
	path = bundle/color-hemisu
	url = git://github.com/noahfrederick/Hemisu.git
    ignore = dirty
[submodule "bundle/ToggleWord"]
	path = bundle/ToggleWord
	url = git://github.com/vim-scripts/toggle_words.vim.git
    ignore = dirty
[submodule "bundle/syntax-css"]
	path = bundle/syntax-css
	url = git://github.com/hail2u/vim-css-syntax.git
[submodule "bundle/syntax-scala"]
	path = bundle/syntax-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "bundle/syntax-tmux"]
	path = bundle/syntax-tmux
	url = git://github.com/tsaleh/vim-tmux.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
    ignore = dirty
[submodule "bundle/toggle_words"]
	path = bundle/toggle_words
	url = https://github.com/vim-scripts/toggle_words.vim.git
[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = https://github.com/scrooloose/nerdtree.git
